$guang-main-color: #252a2d;
$guang-color-white: #ffffff;
$guang-color-black: #222222;
$guang-color-blue: #0366d6;
$guang-color-green: #1abc9c;
$guang-color-gray: #666666;
$guang-color-gray-tint-01: #aaaaaa;
$guang-color-gray-tint-02: #bbbbbb;
$guang-color-gray-tint-03: #cfcfcf;
$guang-color-gray-tint-04: #dfdfdf;
$guang-color-gray-tint-05: #efefef;

$guang-font-size-base: 16px;
$guang-font-size-sm: 14px;
$guang-font-size-xs: 12px;
$guang-font-size-lg: 18px;
$guang-font-size-xl: 24px;
$guang-font-size-xxl: 26px;

$guang-space-base: 16px;
$guang-space-sm: 14px;
$guang-space-xs: 6px;
$guang-space-lg: 24px;
$guang-space-one-pixel: 1px;

$guang-blog-max-width: 960px;