$guang-main-color: #252a2d;
$guang-color-white: #ffffff;
$guang-color-black: #000000;
$guang-color-blue: #0366d6;
$guang-color-gray-tint-01: rgb(68, 69, 96);
$guang-color-gray-tint-02: rgb(104, 105, 127);
$guang-color-gray-tint-03: rgb(143, 144, 160);
$guang-color-gray-tint-04: rgb(178, 178, 191);
$guang-color-gray-tint-05: rgb(205, 205, 215);
$guang-color-gray-tint-06: rgb(221, 221, 229);
$guang-color-gray-tint-07: rgb(241, 242, 248);

$guang-color-gray: rgb(17, 18, 54);
$guang-color-gray-tint-01: rgb(68, 69, 96);
$guang-color-gray-tint-02: rgb(104, 105, 127);
$guang-color-gray-tint-03: rgb(143, 144, 160);
$guang-color-gray-tint-04: rgb(178, 178, 191);
$guang-color-gray-tint-05: rgb(205, 205, 215);
$guang-color-gray-tint-06: rgb(221, 221, 229);
$guang-color-gray-tint-07: rgb(241, 242, 248);
