@import "../../styles/variable.scss";

.Layout {
  &__menu {
    display: flex;
    padding: $guang-space-sm 0;
  }

  &__home {
	display: flex;
	align-items: flex-end;
  }

  &__slogan {
  	font-size: $guang-font-size-xs;
  	color: $guang-color-gray-tint-02;
  }

  &__main {
    margin: 0 auto;
    max-width: $guang-blog-max-width;
    padding: 0 $guang-space-sm;
  }
}
