.index {
  &__postContainer {
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #dadce0;
    border-radius: 8px;
  }

  &__postMetaData {
    display: flex;

    p {

    }

    // &--category {

    // }
  }
}
