@import "../styles/variable.scss";

.Index {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;

  &__name {
    font-size: $guang-font-size-xxl;
  }

  &__slogan {
    margin-bottom: $guang-font-size-xl;
    color: $guang-color-gray;
  }

  hr {
    max-width: $guang-font-space-base * 25;
    height: $guang-font-space-one-pixel;
    border: none;
    margin: 0 auto;
    background-image: linear-gradient(0deg, transparent, $guang-color-gray-tint-01, transparent);
    background-image: -webkit-linear-gradient(0deg, transparent, $guang-color-gray-tint-01, transparent);
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $guang-font-space-base 0;
  }

  &__navItem {
    a {
      margin: 0 $guang-font-space-xs;
    }

    span {
      color: $guang-color-gray-tint-02;
    }

    &:last-child span {
     display: none;
    }
  }
}
