@import "../../styles/variable.scss";

.Header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: $guang-space-one-pixel 0;
  box-shadow: 0px $guang-space-xs $guang-space-xs $guang-color-gray-tint-05;
  background-color: $guang-color-white;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: $guang-blog-max-width;
    padding: 0 $guang-space-sm;

    img {
      border-radius: 50%;
    }
  }
}
