@import "../../styles/variable.scss";

.Header {
  background-color: $guang-color-white;
  padding: $guang-space-sm 0;
  border-bottom: $guang-space-one-pixel solid $guang-color-gray-tint-05;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: $guang-blog-max-width;
    padding: 0 $guang-space-sm;
  }
}
